
<p id ="notice"><%=notice%></p>
<%= form_with(url: login_path, model:@user,local: true) do |f| %>
    <div class = "container">

    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>
<div class = "button"> 
    <%= f.submit "Log in" %>
    </div>
    </div>
  <% end %>