<center><h1 style = "color:red"> Food Shades </h1></center>

<% if logged_in? %> 
<ul>
<div class="dropdown">
<button class="dropbtn"><%=current_user.name %> 
  <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-content">
  <a href="/users/<%=current_user.id %>">Profile</a>
  <a href="/logout">Logout </a>
</div>
</div> 

<li><a href="/users/<%=current_user.id %>/orders">My orders</a></li>
<li><a href="/restaurants">Restaurant</a></li>
<li><a href="#about">About us</a></li>

</ul>

<% else %>

<ul>
<li><a href="restaurants/new">Add Restaurant</a></li>
<li><a href="users/new">Signup</a></li>
<li><a href='/login'>Login</a></li>
<li><a href="#about">About us</a></li>
</ul>

<% end %>

<center>
<%= form_with model: @restaurant do |form| %>
  <div class="container">
<div>
  <%= form.label :Search%> 
  <%= form.search_field :res_name %><br>
  </div>
  </center>
  
<% end %>
  <% @restaurants.each do |restaurant| %><br>
    <div class="card">
    <div class="container">
    <%= link_to restaurant.res_name, restaurant %>
    <h3>Address-<%= restaurant.res_address%></h3>
    <h3>Contact-<%=restaurant.phone%></h3>
    </div>
    </div>
  <% end %><br>

  <a>
  <%= link_to "New Restaurant", new_restaurant_path %>
  </a>
